<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>导航栏</title>
    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <script src="/scripts/jquery.validate.min.js"></script>
    <script src="/scripts/base/base.js"></script>
    <script src="/scripts/admin/addPhoto.js"></script>
    <link href="/css/myUIstyle.css" rel="stylesheet" />
</head>
<body>
<form enctype="multipart/form-data" id="uploadForm">
    <input id="bId" th:value="${bId}">
    <input type='file' name='xxx' id='pic_img'>
    <input type='button' onclick='upload()' value='点击上传'>
</form>
</body>
</html>