<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>帮助</title>
    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <link href="/css/myUIstyle.css" rel="stylesheet" />
    <script src="/scripts/base/base.js"></script>
</head>
<body>

<div th:replace="/user/top2 :: mytop2" ></div>

<div th:replace="/user/side2 :: side2" ></div>
<h2 style="text-align: center">帮助</h2>
<p class="date" style="text-align: right">2015 年 3 月 14 号</p>
<div style="margin-left:18%;padding:1px 16px;">
欢迎来到图书馆，在这里有海量图书供你选择<br><br>
问：我可以借多少本书呢？<br>
答：教师可以借12本，可借60天，可续借2次；学生可借8本，可借30天，可续借1次。<br><br>
问：超期有什么惩罚吗？<br>
答：超期按照每天0.05元惩罚。<br>
</div>
</body>
</html>
